.button {
  width: 300px;
  height: 65px;
  border-radius: 30px;
  color: #FFFFFF;
  background: #00C78B;
  border: none;
  font-size: 18px;
  font-weight: 700;
}


@media screen and (max-width: 880px){
  .button{
    width: 220px;
    height: 45px;
    font-size: 14px;
  } 
}